spring:

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      -


#  datasource:
#    url: jdbc:postgresql://localhost:5432/labsterdb
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver
#  jpa:
#    hibernate:
#      ddl-auto: none
#    properties:
#      hibernate:
#        format_sql: true
#    show-sql: true

app:
  jwt:
    secret: very_secret_key_replace_in_prod_change_this
    expiration-ms: 86400000

logging:
  level:
    org.hibernate.SQL: DEBUG
